* {
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'Segoe UI';
    margin: 0;
    padding: 0;
}

body {
    padding-top: 4%;
    width: 100%;
    height: 100%;
    background-image: url("../img/pediatra.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contain {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 95%;
}

/*-- --*/
/*--- Ajustes del contenedor principal ---*/
/*-- --*/

.container {
    width: 50em;
    max-height: none;
    border-radius: 1%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #e8e8e8f3;
    border: 10px solid transparent;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

/*--- Ajustes del titulo ---*/

#tit {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#tit h1 {
    font-size: 2em;
}

#bar {
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

hr {
    width: 85%;
    height: 1vh;
    background-color: lightseagreen;
}

/*--- Ajustes del logo ---*/

#logo {
    width: 25%;
    height: 80%;
}

#logo img {
    width: 100%;
    height: 100%;
    border-style: solid;
}

/*-- --*/
/*--- Ajustes de los campos ---*/
/*-- --*/

#campos {   
    width: 80%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.campos {
    margin-top: 10px;
    width: 80%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

input {
    width: 90%;
    height: 3em;
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    font-weight: 600;
    border-top-left-radius: 1px solid;
    border-color: gainsboro;
}

#gs2{
    width: 100%;
    height: 3em;
}

select {
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    font-weight: 600;
    border: none;
    cursor: pointer;
    border: 2px inset;
}

select option {
    font-weight: 600;
}

/*--- Ajustes del aside de la foto ---*/

.foto {
    width: 20em;
    position: relative;
    min-height: 23.5em;
    max-height: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#confoto {
    width: 100em;
    height: 21em;
    box-shadow: -2px -2px 2px 0 rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
}

#cofoto{
    width: 100%;
    height: 100%;
}

.foto img {
    width: 100%;
    height: 100%;
}

#photo, #photo2{
    border-style: solid;
    height: 3em;
    width: 24em;
    opacity: 0;
    border:1px black solid;
}

.foto input[type="file"] {
    position: absolute;
    opacity: 0;
    right: 0;
    bottom: 0;
}


.traer_file{
    width: 20em;
    height: 2.5em;
    background-color: lightseagreen;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/*-- Ajustes de los datos--*/

.datos {
    width: 15em;
    min-height: 23em;
    max-height: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.datosn {
    width: 100%;
    max-height: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#sexo {
    width: 90%;
    height: 4em;
}

#pad {
    width: 90%;
    height: 3em;
    border: 2px inset;
}

#datos2, #datoss{
    width: 90%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sexo1, #rh1, #gs1{
    width: 8em;
    height: 3em;
}

#gs, #rh{
    height: 3.5em;
}

#photo2, #traer_file{
    display: none;
}

#contra, #datos3{
    width: 90%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#contra #cor {
    width: 30%;
    height: 80%;
}

#contra #tele {
    width: 30%;
    height: 80%;
}

#cont {
    width: 45%;
    height: 80%;
}

#botones {
    width: 40em;
    height: 4em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.botones{
    border-style: solid;
}

a {
    width: 8em;
    height: 2em;
    
}

#boton {
    width: 100%;
    height: 100%;
    transition-duration: 1s;
    background-color: rgb(12, 175, 175);
    color: rgb(241, 241, 241);
    border-style: outset;
    border-radius: 10px;
}


#boton:hover {
    transition-duration: 1s;
    cursor: pointer;
    background-color: rgb(1, 138, 138);
    color: white;
}

@media screen and (max-width: 1000px) {
    .container{
        width: 90%;
        max-height: none;
        border-style: solid;
    }

    #tit{
        width: 85%;
        height: 10%;
        display: flex;
        justify-content: space-between;
    }

    #logo{
        width: 30%;
        height: 5em;
    }

    #tit h1{
        width: 45%;
        font-size: 1.5em;
    }

    #bar{
        display: flex;
        align-items: center;
    }

    .foto {
        display: none;
    }

    #campos{
        min-height: 70%;
        max-height: none;
    }

    #sexo1, #rh1, #gs1{
        width: 8em;
        height: 3.5em;
    }

    .datos{
        position: relative;
        width: 100%;
        min-height: 100%;
    }

    input, #sexo, #photo2, #gs, #rh{
        height: 3em;
        font-size: 1em;
    }

    #gs, #rh{
        width: 30em;
    }

    #photo2{
        border-style: solid;
        opacity: 100;
    }

    #photo2{
        display: flex;
        width: 90%;
        border: 2px inset;
        border-radius: 5px;
        background-color: rgb(235, 235, 235);
    }

    #datos3{
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    #contra{
        width: 100%;

    }

    #cont{
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .container{
        width: 90%;
        max-height: none;
    }

    #tit{
        width: 70%;
        height: 15%;
        display: flex;
        justify-content: center;
    }

    #logo{
        display: none;
    }

    #tit h1{
        width: 100%;
    }

    #bar{
        display: flex;
        align-items: center;
    }

    .foto {
        display: none;
    }

    #campos{
        min-height: 60%;
        max-height: none;
    }

    .datos{
        width: 100%;
        min-height: 90%;
    }

    .campos label{
        display: none;
        cursor: default;
    }

    #fecha-niño, #fecha-responsable{
        width: 90%;
        display: flex;
        justify-content: center;
        text-align: left;
    }

    #fecha-niño, #fecha-responsable{
        width: 90%;
        display: flex;
        justify-content: center;
        text-align: left;
    }
    input, #sexo, #photo2{
        width: 90%;
        height: 2em;
        font-size: 1em;
    }

    .datos input{
        width: 90%;
    }

    #photo2{
        opacity: 100;
    }

    #photo2{
        display: flex;
        width: 90%;
        border: 2px inset;
        border-radius: 5px;
        background-color: rgb(235, 235, 235);
    }

    #datos2{
        height: 2em;
        flex-wrap: wrap;
    }

    #datoss{
        height: 15em;
        flex-wrap: wrap;  
        border-style: solid;  
    }

    #datoss label{
        display: flex;
        max-width: none;
        border-style: solid;
    }

    #sexo1, #rh1, #gs1{
        width: 4em;
        height: 3.5em;
    }

    #gs, #rh{
        width: 50%;
        height: 2em;
        font-size: 1em;
    }

    #datos3{
        width: 90%;
        height: 5em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #tele, #cor{
        width: 90%;
    }

    #contra{
        width: 100%;
    }

    #cont{
        width: 90%;
    }

    #botones{
        height: 5em;
    }

}

@media screen and (max-height: 550px) {
    .container{
        width: 90%;
        max-height: none;
    }

    #tit{
        width: 70%;
        height: 15%;
        display: flex;
        justify-content: center;
    }

    #logo{
        display: none;
    }

    #tit h1{
        width: 100%;
    }

    #bar{
        display: flex;
        align-items: center;
    }

    .foto {
        display: none;
    }

    #campos{
        min-height: 60%;
        max-height: none;
    }

    .datos{
        width: 100%;
        min-height: 90%;
    }

    .campos label{
        display: none;
    }

    #fecha-niño, #fecha-responsable{
        width: 90%;
        display: flex;
        justify-content: center;
        text-align: left;
    }

    input, #sexo, #photo2{
        width: 90%;
        height: 2em;
        font-size: 1em;
    }

    .datos input{
        width: 90%;
    }

    #photo2{
        opacity: 100;
    }

    #photo2{
        display: flex;
        width: 90%;
        border: 2px inset;
        border-radius: 5px;
        background-color: rgb(235, 235, 235);
    }

    #datos2{
        height: 2em;
        flex-wrap: wrap;
    }

    #gs, #rh{
        width: 50%;
        height: 2em;
        font-size: 1em;
    }

    #datos3{
        width: 90%;
        height: 5em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #tele, #cor{
        width: 90%;
    }

    #contra{
        width: 100%;
    }

    #cont{
        width: 90%;
    }

    #botones{
        height: 5em;
    }

}

