* {
    text-decoration: none;
    text-align: justify;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-image: url("../img/ped_fondo.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.contain {
    margin: 5% 0%;
    width: 70%;
    height: 90%;
    background-color: rgba(232, 232, 232, 0.952);
    border: 10px solid transparent;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img {

    border-style: solid;
    border-radius: 8%;
    border-color: lightseagreen;
}


/*-- --*/
/*--- Ajustes del menu de navegación ---*/
/*-- --*/

header {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 5.5em;
    max-height: none;
}

#barra {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 100%;
    height: 3em;

}

hr {
    margin: 0%;
    width: 85%;
    height: 1em;
    border-style: none;
}

/*--- Establecimiento del tamaño del menu ---*/

nav {
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#nave img {
    width: 2.5em;
    display: none;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    width: 100%;
    height: 100%;
}

/*--- Ajustes del logo ---*/

#log {
    width: 10em;
    min-height: 7em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#logo {
    width: 100%;
    height: 100%;
    display: flex;
}

#logo img {
    width: 100%;
    height: 100%;
    border: none;
}

/*--- Ajustes del menu ---*/

#ico {
    min-width: 45%;
    max-height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ico li {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

#ico li a {
    width: 92%;
    height: 15%;
    font-size: 1em;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--- ## ---*/

#ico li a:hover {
    font-size: 1.2em;
    color: rgb(143, 143, 143);
}

#ico2 {
    display: none;
}

/*-- --*/
/*--- Ajustes de las secciones ---*/
/*-- --*/

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*--- Seccion 1 (sect1) ---*/

.sect1 {
    width: 90%;
    min-height: 20em;
    max-height: none;
    flex-wrap: nowrap;

}


/*--- Ajustes del aside (imagen) ---*/

#img1 {
    max-width: 20em;
    height: 60%;
}

#img1 img {
    width: 90%;
    height: 100%;
}

/*--- Ajustes del article (informacion) ---*/

#art1 {
    width: 60%;
    height: 55%;
    font-size: 1em;
}

h1 {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}

/*--- Seccion 2 (sect2) ---*/

.sect2 {
    width: 100%;
    min-height: 60em;
    max-height: none;

}

/*--- Ajustes del titulo ---*/

#protec {
    width: 80%;
    height: 5em;
    display: flex;
    align-items: start;
}

#protec h1 {
    font-size: 1.5em;
}

/*--- Ajustes del aside 1-imagen ---*/

#img2,
#img2o {
    width: 30%;
    height: 10em;
    display: flex;
    align-items: start;
    justify-content: center;

}

#img2 img,
#img2o img {
    width: 90%;
    height: 100%;
}

#img2o {
    display: none;
}

/*--- Ajustes de los contenedores de los article (informacion) ---*/

#info {
    width: 91%;
    min-height: 10em;
    max-height: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#info2 {
    width: 91%;
    min-height: 10em;
    max-height: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

#conten {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#left1 {
    margin: 5px 0px;
    width: 23em;
    max-height: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

#right1 {
    margin: 5px 0px;
    width: 23em;
    max-height: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

/*--- Ajustes del article 1-informacion ---*/

#tit2 {
    width: 90%;
    height: 3em;
    max-height: none;
}

#tit2 h1 {
    font-size: 1.2em;
}

#art2 {
    width: 90%;
    min-height: 8em;
    max-height: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#art2 p {
    font-size: 1em;
    text-align: justify;
}


/*--- Ajustes del aside 2-imagen ---*/

#img3 {
    width: 85%;
    min-height: 12em;
}

#img3 img {
    width: 100%;
    height: 100%;
}

/*--- Ajustes del article 2-informacion ---*/

#tit3 {
    width: 90%;
    height: 3em;

}

#tit3 h1 {
    font-size: 1.2em;
}

#art3 {
    width: 90%;
    height: 8em;
    display: flex;
    align-items: center;
}

#art3 p {
    font-size: 1em;
    text-align: justify;
}

/*--- Seccion 3 (sect3) ---*/


.sect3 {
    width: 100%;
    min-height: 25em;
    max-height: none;
}

/*--- Ajustes del article (titulo e imagen) ---*/

#salud {
    max-width: 25em;
    min-height: 20em;
    max-height: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#tinf {
    width: 80%;
    height: 20%;
}

#tinf h1 {
    font-size: 2em;
}

#inf {
    width: 90%;
    height: 65%;
}

#inf img {
    width: 100%;
    height: 100%;
}


/*--- Ajustes del aside (Links de información) ---*/

#rango {
    width: 20em;
    min-height: 15em;
    max-height: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: aliceblue;
    border-radius: 1em;
}

#rango h1 {
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#rango ul {
    list-style-type: none;
    width: 50%;
    min-height: 15em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#rango li {
    height: 15%;
    font-size: 1em;
    list-style-type: none;
    text-align: justify;
}

#rango li a:hover {
    color: lightgray;
}

/*--- Seccion 4 (sect4) ---*/

.sect4 {
    max-width: 60em;
    min-height: 30em;
    max-height: none;
    display: flex;
    flex-direction: column;
}

/*--- Ajustes del article (titulo e imagen) ---*/

#tigraf {
    max-width: 50em;
    min-height: 5em;
    max-height: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#tigraf h1 {
    font-size: 1.5em;
}

#graf {
    max-width: 45em;
    max-height: 30em;
}

#grafimg {
    width: 100%;
    height: 90%;
}

/*--- Ajustes del link(a) (Boton) ---*/

#grafb {
    width: 8em;
    height: 2.5em;
    background-color: cornflowerblue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: whitesmoke;
    text-align: center;
    font-weight: 500;
}

#grafica {
    font-weight: 900;
    border-radius: 10px;
}

#grafb:hover {
    background-color: rgb(118, 166, 255);
}


footer {
    width: 100%;
    height: 5em;
}

@media screen and (max-width: 1080px) {
    #barra {
        display: flex;
        align-items: center;
    }

    section {
        width: 90%;
    }

    #ico {
        display: none;
    }

    #nave img {
        border: none;
        cursor: pointer;
        display: initial;
    }

    #ico2 {
        width: 85%;
        min-height: 2em;
        max-height: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        list-style-type: none;
        display: none;
    }

    #ico2 li {
        min-width: 4em;
        min-height: 1.5em;
    }

    #ico2 li a:hover {
        font-size: 1.2em;
        color: rgb(143, 143, 143);
    }

    /*--- ---*/
    #art1,#art2 {
        width: 100%;
    }

    #tit2,#tit3 {
        width: 100%;
        display: flex;
        align-items: center;
    }

    #info,#info2 {
        width: 90%;
    }

    #art3{
        width: 90%;
    }

    /*--- ---*/
    .sect1 {
        flex-wrap: wrap;
    }

    /*--- ---*/

    #protec {
        align-items: center;
        width: 80%;
        height: 5em;
    }

    #protec h1 {
        font-size: 1.25em;
    }

    h1 {
        font-size: 1.25em;
    }

    #info,#info2 {
        flex-wrap: wrap;
    }

    #info2 #img2 {
        display: none;
    }

    #img2, #img2o, #img3{
        width: 15em;
        min-height: 10em;
        display: flex;
    }

    #left1, #right1 {
        width: 100%;
    }

    #tit3{
        width: 90%;
        max-height: none;
    }
    #art3{
        width: 90%;
        min-height: 8em;
        max-height: none;
    }

    #tit2, #tit3{
        align-items: end;
    }

    #conten{
        width: 100%;
    }

    /*--- ---*/
    #tinf h1 {
        font-size: 1.5em;
    }

    #inf {
        height: 13em;
    }

    #rango{
        width: 22em;
    }

}

@media screen and (max-width: 700px) {
    #barra {
        display: flex;
        align-items: center;
    }

    hr{
        height: 0.75em;
    }

    section {
        width: 90%;
    }

    #ico {
        display: none;
    }

    header{
        position: relative;
        height: 2em;
    }

    #nave img {
        border: none;
        cursor: pointer;
        display: initial;
    }

    #log {
        width: 7em;
    }

    #ico2 {
        position: absolute;
        right: 0;
        top: 4.5em;
        width: 6em;
        min-height: 2em;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        list-style-type: none;
        display: none;
        background-color: rgba(232, 232, 232);
        border: 1px solid;
    }

    #ico2 li {
        min-width: 100%;
        min-height: 1.5em;
    }

    #ico2 li:hover{
        background-color:  rgb(224, 224, 224);
    }

    #ico2 a{
        width: 100%;
        display: block;
        text-align: center;
    }

    #ico2 li a:hover {
        font-size: 1em;
        color: rgb(143, 143, 143);
    }

    /*--- ---*/
    #art1,#art2 {
        width: 100%;
    }

    #tit2,#tit3 {
        width: 100%;
        display: flex;
        align-items: center;
    }

    #info,#info2 {
        width: 90%;
        min-height: 28em;
    }

    #art3{
        width: 90%;
        min-height: 12em;
        max-height: none;
    }

    /*--- ---*/
    .sect1 {
        flex-wrap: wrap;
    }

    #img1 img{
        width: 100%;
    }

    #art1 h1{
        width: 100%;
        height: 5em;
    }

    /*--- ---*/

    #protec {
        align-items: center;
        width: 100%;
        height: 6em;
    }


    #info2 #img2 {
        display: none;
    }

    #img2, #img2o, #img3{
        width: 10em;
        height: 12em;
        display: flex;
    }

    #img2 img, #img2o img, #img3 img{
        width: 100%;
        display: flex;
    }

    #left1, #right1 {
        width: 90%;
        min-height: 32em;
    }

    #tit3{
        width: 90%;
        max-height: none;
    }
    #art3{
        width: 90%;
        min-height: 15em;
        max-height: none;
    }

    #tit2, #tit3{
        align-items: center;
    }

    #conten{
        width: 100%;
    }

    /*--- ---*/
    #tinf h1 {
        font-size: 1.5em;
    }

    #inf {
        height: 13em;
    }

    #rango{
        width: 80%;
    }

    #rango h1{
        font-size: 1.5em;
    }

    #rango ul{
        width: 80%;
    }

    #rango ul li{
        width: 100%;
    }

    /*--- ---*/

    .sect4{
        max-width: 100%;
        min-height: 0;
    }

    #tigraf{
        width: 100%;
    }

    #tigraf h1{
        font-size: 1.25em;
    }

}